.container{
  display: flex;
  height: max-content;
}

form{
  width: 50%;
  border: 1px solid rgb(231, 225, 225);
}
.display_div{
  width: 50%;
  margin-left: 20px;
  border: 1px solid rgb(231, 225, 225);
  height: max-content;
}
span{
  font-weight: 500;
}